*{
  box-sizing: border-box;
}
body{
  padding-left: 20%;
  padding-right: 20%;
}
header{
  font-family: 'Itim', cursive;
  text-align: center;
}
nav{
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid  rgba(0, 0, 0, 0.2);
  text-align: center;
}
.nav-box{
  display: inline-block;
  margin: 5px 45px;
}
aside{
  float: left;
  height: 600px;
  width: 300px;
  background-color: pink;
  padding: 10px 30px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.article-box{
  height: 200px;
  padding: 10px 300px;
  margin-left: 30px;
}
.box1{
  background-color:lightgreen;
}
.box2{
  background-color: lightsteelblue;
}
.box3{
  background-color:lightgoldenrodyellow;
}
footer{
  height: 80px;
  background-color:lightsalmon;
  padding: 30px 30px;
}